:css
  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  #logo {
    text-align: center;
    position: relative;
    top: 25%;
    font-size: 200px;
  }
  #enter_shop {
    position: relative;
    text-align: center;
    margin: 0px 50%;
    top: 250px;
  }

#overlay
  %p#logo LIFE co.
  %br
  %a{href: '/shop', id: 'enter_shop'} Enter Shop

:javascript
  $('.navbar').hide();
  $('#overlay').show();