#overlay.row
  .col-md-12{style: 'text-align: center;top: 32%;margin-bottom:30px;'}
    %p.links Welcome
  .col-md-12.logo_stuff
    #logo= image_tag 'logo.PNG'
  .col-md-12{style: 'text-align: center;top: 32%;'}
    %a.links{href: '/shop', id: 'enter_shop'} Enter Shop

:javascript
  $('.navbar').hide();
  $('#overlay').show();