%nav.navbar.navbar-light.navbar-expand-lg.fixed-top
  .container
    %a.navbar-brand{:href => root_path} 
      = image_tag 'logo.PNG', width: '100px'
    %button.navbar-toggler{"aria-controls" => "navbarResponsive", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarResponsive", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item.active
          %a.nav-link{:href => "/shop"}
            Shop
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => "#"} Capsules
        %li.nav-item
          %a.nav-link{:href => "#"} Services
        %li.nav-item
          %a.nav-link{:href => "#"} Contact
        %li.nav-item
          %a.nav-link{:href => "#"} FAQ